.review-page-container { 
    display: flex;
    flex-direction: column;

    .review-header {
        display: flex;
        justify-content: space-between;
        font-size: 80px;
        font-family:'Segoe UI', sans-serif;
        padding: 0px 56px 0px 44px;

        .movie-rating {
            color: #6558f5;
        }
    }

    .card-container {
        padding: 12px;

        .review-card {
            border: 2px solid #e3e8ed;
            height: 130px;
            margin-top: 30px;
            font-family:'Segoe UI', sans-serif;

            .review-comment {
                margin-left: 20px;
            }

            .comments-container {
                display: flex;
                justify-content: space-between;
                font-size: 28px;
                padding: 14px;
            }

            .comment-rating {
                color: #6558f5;
            }

            .reviewer-name {
                font-style: italic;
                margin-left: 20px;
            }
        }
    }

    .no-reviews-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;

        .no-reviews-text {
            font-size: 20px;
            justify-self: center;
            font-family: sans-serif;
            font-style: italic;
            color:#e3e8ed;
            border: 4px solid #e3e8ed;
            padding: 20px;
            border-radius: 16px;
        }
    }

}